.wrapper {
    padding: 20px 0;
    display: flex;
}
.content {
    margin-left: 12px;
    position: relative;
    & .follow-btn {
        position: absolute;
        top: 10px;
        right: 0;
    }
}
//Infor
.infor {
    cursor: pointer;
    &:hover .username {
        text-decoration: underline;
    }
}

.username {
    font-weight: 700;
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 4px;
}
.user-icon {
    margin-left: 4px;
    color: #20d5ec;
    font-size: 1.4rem;
}
.name {
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    line-height: 2.4rem;
}
.tags {
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}
.description {
    // width: 510px;
    font-size: 16px;
    line-height: 22px;
}

.music-infor {
    // width: 510px;
}
.music-icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.music-name {
    color: #161823;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}

//Video
.video-player {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
}
.video-content {
    width: 278px;
    height: 494px;
    margin-right: 20px;
    position: relative;
    &:hover .play-btn {
        display: block;
    }
    &:hover .volume-btn {
        display: block;
    }
}
.play-btn {
    position: absolute;
    bottom: 36px;
    left: 31px;
    color: #ffffff;
    font-size: 2rem;
    display: none;
    animation: slowShow ease 1.5s;
    cursor: pointer;
    &.showControls {
        display: block;
    }
}
.volume {
    &:hover .volume-range {
        display: block;
    }
}

.volume-range {
    position: absolute;
    -webkit-appearance: slider-vertical;
    bottom: 57px;
    right: 40px;
    width: 4px;
    height: 64px;
    outline: none;
    display: none;
    cursor: pointer;
}

.volume-btn {
    position: absolute;
    bottom: 36px;
    right: 31px;
    color: #ffffff;
    font-size: 2rem;
    display: none;
    animation: slowShow ease 1.5s;
    cursor: pointer;
    &.showControls {
        display: block;
    }
}

@keyframes slowShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//Controls

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}
